.slide{
    width: 100%;
}
.prev, .next {
    cursor:pointer;
    position: absolutetop: 50%;
    top: 50%;
    padding: 20px;
}
.next {right: 0;}

.prev:hover, .next:
background-color: rgba{0,0,0,0.}